{
  "presets": [
    [
      "env", {
        "debug": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": ["> 2%", "last 3 versions", "ie > 10", "not ie < 10"]
        }
      }
    ]
  ],
  "plugins": [
    [ "transform-class-properties", { "spec": true } ],
    "transform-react-jsx"
  ]
}
